In [1]:
import pandas as pd
import numpy as np
from sklearn.naive_bayes import GaussianNB
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
import nltk
import re
nltk.download('stopwords')
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [2]:
data1=pd.read_csv('/content/drive/MyDrive/spam.csv',encoding="ISO-8859-1")
data1

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [3]:
x = data1["v2"]
y = data1["v1"]
x

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will Ì_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: v2, Length: 5572, dtype: object

In [9]:
stemmer = PorterStemmer()
corpus = []
for i in range(0, len(data1)):
    txt=  re.sub('[^a-zA-Z]', ' ', data1['v2'][i])  #removing texts other than alphabets
    txt = txt.lower()
    txt = txt.split()
    txt = [stemmer.stem(word) for word in txt if not word in stopwords.words('english')]
    txt = ' '.join(txt)
    corpus.append(txt)

In [6]:
cv = CountVectorizer()
X = cv.fit_transform(corpus).toarray()

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, data1['v1'], test_size = 0.20, random_state = 30)

In [8]:
classifier = MultinomialNB()
classifier.fit(X_train,y_train)
y_pred_bnb=classifier.predict(X_test)
print(accuracy_score(y_pred_bnb,y_test))
y_pred_bnb

0.97847533632287

array(['ham', 'ham', 'ham', ..., 'ham', 'ham', 'ham'], dtype='<U4')

In [10]:
import pickle
pickle.dump(classifier, open('spamClassificationModel.pkl', 'wb'))
pickle.dump(cv, open('countVectModel.pkl', 'wb'))

In [11]:
#classifier = pickle.load(open('spam_model.pkl', 'rb'))
#cv = pickle.load(open('countVect_model.pkl','rb'))